*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
*.EGG
*.EGG-INFO
dist
eggs
parts
bin
var
sdist
develop-eggs
downloads
fake-eggs
.installed.cfg
lib
lib64

# Source hosted in other repositories:
app/src/*
!app/src/build

# Exclude generated configuration files (unless explicitly added with
# "git add -f" command):
app/etc/*.conf

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# tmpfile and editor cruft:
*.swp
*.tmp*

# cruft from other VCS:
.bzr
.svn
.hg

# site specific buildout cfg:
site.cfg
