# Python buildout: 2.7 only buildout based on
#   github.com/collective/buildout.python

[buildout]
extensions = buildout.extensionscripts
extension-scripts = ${buildout:python-buildout-root}/osdetect.py:osdetect
extends =
    src/base.cfg
    src/readline.cfg
    src/libjpeg.cfg
    src/python27.cfg
    src/links.cfg

parts =
    ${buildout:base-parts}
    ${buildout:readline-parts}
    ${buildout:libjpeg-parts}
    ${buildout:python27-parts}
    ${buildout:links-parts}
    docutils

python-buildout-root = ${buildout:directory}/src

pil-install-args = --always-unzip Pillow==3.2.0

# we want our own eggs directory and nothing shared from a
# ~/.buildout/default.cfg to prevent any errors and interference
eggs-directory = eggs

# rpath for Python build (e.g. readline):
[python-2.7-build:linux2]
<= python-2.7-build:default
environment +=
    LDFLAGS=-Wl,-rpath,${buildout:directory}/parts/opt/lib

[readline:default]
configure-options +=
    --with-curses
make-options +=
    SHLIB_LIBS=-lcurses

[docutils]
recipe = plone.recipe.command
location = ${python-2.7:location}
command =
    ${python-2.7:location}/bin/pip install docutils==0.12
stop-on-error = yes

