# Python buildout: 2.7 only buildout based on
#   github.com/collective/buildout.python

[buildout]
extends =
    src/base.cfg
    src/readline.cfg
    src/libjpeg.cfg
    src/python27.cfg
    src/links.cfg

parts =
    ${buildout:base-parts}
    ${buildout:readline-parts}
    ${buildout:libjpeg-parts}
    ${buildout:python27-parts}
    ${buildout:links-parts}

python-buildout-root = ${buildout:directory}/src

# for now use rpath-savvy fork of Pillow until merged in mainline:
pil-install-args = https://github.com/seanupton/Pillow/archive/master.zip

# we want our own eggs directory and nothing shared from a
# ~/.buildout/default.cfg to prevent any errors and interference
eggs-directory = eggs

