# site-frontend.cfg : a site configuration for testing front end build
# including varnish, haproxy, and two zserver instances (instead of four)

[buildout]
extensions +=
    mr.developer
    buildout.dumppickedversions
extends = upiq.cfg
# omit unneeded parts:
parts -=
    instance3
    instance4

[upiq]
autostart = true

[haproxy-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/src/build/testing-haproxy.conf.in
output = ${buildout:directory}/etc/haproxy.conf
overwrite = true
maxconn = 1024
bind = ${hosts:local}:${ports:haproxy}


# for testing and development we can get away with a single instance;
# we do not need front-end varnish or haproxy, so supvervisor only
# runs postgres, memcached, and instance.
[supervisor]
recipe = collective.recipe.supervisor
plugins = superlance
port = ${hosts:local}:${ports:supervisor}
user = ${siteadmin:user}
password = ${siteadmin:password}
serverurl = http://${hosts:local}:${ports:supervisor}
supervisord-conf = ${buildout:directory}/etc/supervisord.conf
programs =
    10 postgres     (stopsignal=INT) ${postgresql:prefix}/bin/postmaster [-D ${buildout:directory}/etc/] ${buildout:directory} true
    20 memcached    ${memcached:prefix}/bin/memcached [-s ${buildout:directory}/var/memcached.sock] ${memcached:prefix} true
    40 instance     (auto-start=${upiq:autostart}) ${buildout:bin-directory}/instance [console] ${instance:location}
    40 instance2    (auto-start=${upiq:autostart}) ${buildout:bin-directory}/instance2 [console] ${instance2:location}
    60 haproxy      ${buildout:directory}/parts/opt/sbin/haproxy [ -f ${buildout:directory}/etc/haproxy.conf -db ]
    70 cache        (exitcodes=0) ${buildout:bin-directory}/cache
eventlisteners =
